@import url('https://fonts.googleapis.com/css2?family=Genos:wght@200;400;600&display=swap');

:root{
    --brand-colour:#ff2247;
    --max-width:1200px;
}

body{
    margin:0;
    font-family: 'Genos', Arial, sans-serif;
    text-transform: uppercase;
}

.highlight{
    color:var(--brand-colour);
}

nav{
    position:fixed;
    top:0;
    left:0;
    right:0;
    color:white;  
    background:#111;  
    display:flex;
    justify-content:center;
    width:100%;
}

nav ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;    
    width:var(--max-width);
}

nav ul li{
    padding:20px;
}

nav ul li:last-of-type{
    margin-left:auto;
}

.hero-image{
    background-image:url('images/hero_glasses.jpg');
    width:100%;
    height:60vh;
    background-size:cover;
    background-position:center;

    display: flex;
    justify-content: center;
    align-items:center;
}

.hero-image h1{
    font-size:100px;
    color:white;
}

.main-content{
    width:var(--max-width);
    display:flex;
    justify-content: center;
    margin:auto;
}

.main-content > div{
    width:100%;
}

.main-text{
    font-size:48px;
}

.columns{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.columns .col{
    padding:40px;
    display:flex;
    flex-direction: column;
    align-self:center;
}

.columns img{
    width:100%;    
}